#ReadBlogDiv{
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
}
#ImageDiv img{
    width:30%;
    /* height: 20%; */
}
#MaxLimitDiv
{
  
    margin-top: 60px;
}

#TextSelectedButton
{
    padding: 4px 4px 4px 4px;
    background-color: black;
    position: absolute;
    border-radius: 20%;
    
}

#TextSelectedButton ul{
    list-style: none;
}
#TextSelectedButton ul li{
    display: inline;
    margin-right: 5px;
}
#TextSelectedButton button
{
    background-color: black;
    color: white;
    border: none;
    
}

#CommentComp
{
    padding: 10px 10px 10px 10px;
    position: absolute;
    right:0%;
    top: 9%;
    width: 300px;
    /* box-shadow: 10px 10px 10px 10px; */
    -webkit-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);

}

mark{
    background-color: chartreuse !important;
}





