<div id="CommentDiv">
    <h3>Create Comment</h3>
    <button (click)="CloseCommentComponent()"  style="float: right;"><i class="fa fa-window-close"></i></button>
    <br/>
    <p><mark>{{selectedTextInChild}}</mark></p>
    <input [(ngModel)]="commentName" placeholder="Your Comment " class="form-control" required="true">
    <br/>
    <label>Save As</label>
    <select class="form-control" [(ngModel)]="SaveMode" required="true">
        <option value="0">private</option>
        <option value="1">public</option>
    </select>
    <br/>
    <button  style="float: right;" class="btn btn-success" (click)="PublishComment($event)">Publish</button>
</div>  