
#SignupFormPage
{
     height: 100vh;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    padding: 100px 300px 100px 300px;

   
}

#FormData
{
    
    height: 500px;
    padding: 40px 40px 10px 60px;
    background-color: black;
    color: white;
}
#SignUpFormImg
{
    height: 500px;
}
#SignUpFormImg img{
    max-height: 100%;
}

#FormData input
{
    color: white;
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray;
    background-color: black;
}
