<div id="BlogComp">
<div class="row" id="Vcomply">
  <div class="col-md-7">
    <h1 style="font-size: 60px;font-weight: bold;">Explore new <br/> perspectives</h1>
    <h4>Read and share ideas from independent voices, <br/> world-class  publications, 
        and experts from  around <br/> the globe.  Everyone's welcome. <a href="https://www.v-comply.com/">Learn More</a> </h4>
        <br/>
    <a routerLink="/write" routerLinkActive="active"  style="padding: 10px 15px 10px 15px ;background-color: #f2bf11; border: 1px solid black;" class="btn">Get Started</a>
  </div>
  <div class="col-md-5" id="Vcomimg">
    <img src="assets/images/vcomply.jpg">
  </div>
</div>
<div class="container">
   <div class="col-md-3">
      <!-- (keyup)="SearchTag($event)" -->
      <!--    (keyup.enter)="SearchByEnter($event)" -->
      <input placeholder="Filter By Tag Name" (keyup)="SearchTag($event)" >   
   </div>
</div>

<div class="container row" id="BlogsArea"  *ngIf="SearchOnEnter==false">
   <div *ngIf="Searching" id="SearchDivArea">
      <div *ngFor="let Searcheditem of SearchedData">
        <a [routerLink]="['/read',Searcheditem._id]" routerLinkActive="active">
         <h4><b>{{Searcheditem.BlogHeading}}</b></h4>
        </a>
      </div>
   </div>
    <div class="col-md-12">
       <h4><b>TRENDING ON VCOMPLY</b></h4>
       <div class="row">
            <div *ngFor="let trendblog of TrendingBlogs" class="col-md-4 "   id="BlogDiv">
               <a href="#"><h5>Published By <i>{{trendblog.UserName}}</i></h5></a>
               <a [routerLink]="['/read',trendblog._id]" routerLinkActive="active">
                  <img [src]="ImgUrl+trendblog._id">
                  <h4><b>{{trendblog.BlogHeading}}</b></h4>
               </a>
               <p>Posted On{{trendblog.createdAt.slice(0,10)}} . &nbsp; {{trendblog.BlogContent.length/200}} min read  &nbsp; ( {{trendblog.BlogContent.length}} words ) so far &nbsp; <i id="blogAction" class="fas fa-share"></i> </p> 
            </div>
       </div>
       <hr/>
    </div>
    <div class="col-md-12">
      <h4><b>NEW ON VCOMPLY</b></h4>
       <div class="row">
            <div *ngFor="let NewBlog of NewBlogs" class="col-md-4 "   id="BlogDiv">
               <a href="#"><h5>Published By <i>{{NewBlog.UserName}}</i></h5></a>
               <a  [routerLink]="['/read',NewBlog._id]" routerLinkActive="active">
                  <img [src]="ImgUrl+NewBlog._id">
               <h4><b>{{NewBlog.BlogHeading}}</b></h4>
              </a>
              <p>Posted On{{NewBlog.createdAt.slice(0,10)}} . &nbsp; {{NewBlog.BlogContent.length/200}} min read  &nbsp; ( {{NewBlog.BlogContent.length}} words ) so far &nbsp; <i id="blogAction" class="fas fa-share"></i> </p> 
            </div>
       </div>
       <hr/>
    </div>
    <div class="col-md-12">
      <h4><b>MORE BLOGS FOR YOU</b></h4>
       <div class="row">
            <div *ngFor="let restblog of RestBlogs" class="col-md-4 "  id="BlogDiv">
               <a href="#"><h5>Published By <i>{{restblog.UserName}}</i></h5></a>
               <br/>
               <a [routerLink]="['/read',restblog._id]" routerLinkActive="active">
                  <img [src]="ImgUrl+restblog._id">
                  <h4><b>{{restblog.BlogHeading}}</b></h4>

               </a>
               <p>Posted On {{restblog.createdAt.slice(0,10)}}  . &nbsp; {{restblog.BlogContent.length/200}} min read  <br/> ( {{restblog.BlogContent.length}} words ) so far &nbsp; <i id="blogAction" class="fas fa-share"></i> </p> 
            </div>
       </div>
       <hr/>
    </div>
</div>

<div *ngIf="SearchOnEnter" class="container" id="SearchEnterDiv">  
   <div *ngIf="noDataFound==true">
      <h4 class="text text-danger">Sorry, no results found ! </h4>
      <img  src="assets/images/datanotfound.gif">
   </div>

   <div *ngIf="noDataFound==false">
         <!-- DATA -->
         <div *ngFor="let Searcheditem of SearchedData">
           
            <a [routerLink]="['/read',Searcheditem._id]" routerLinkActive="active">
             <h4><b>{{Searcheditem.BlogHeading}}</b></h4>
            </a>
          </div>
   </div>
</div>

</div>