*
{
    overflow-x: hidden;
}
#BlogComp
{
    margin-top: 50px;
}
#Vcomply
{
    padding: 30px 40px 80px 120px;
    background-color: #f2bf11;
    border-bottom: 1px solid black;
}

#Vcomimg img{
    margin-top: 50px;
    width: 100%;
    /* animation: rotation 3s infinite linear; */
}

#BlogsArea{
    padding: 20px 100px 100px 100px;
}
#BlogDiv{
    /* cursor: pointer; */
}
#blogAction
{
    cursor: pointer;
}
#BlogDiv{
    margin-top: 40px;
    
    /* border-bottom: 1px solid black; */
}
#BlogDiv a{
    color: black;
    text-decoration: none;
}

#SearchInput
{
    margin-top: 20px;
}

#SearchDivArea
{
    padding: 20px 20px 20px 20px;
    border: 1px solid gray;
    width: 300px;
    z-index: 999;
}


/* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */